@import '../../../../styles/colors.module.scss';

.imgPresentation {
    width: 550px;
}
.subTitle {
    font-size: 18px;
    font-weight: bold;
    color: $lightRed;
}
.title {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}
.description {
    font-size: 20px;
    color: $lightGray;
    margin: 20px 0px 40px 0px;
}
.btnCta {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 14px 30px;
    border: 1px solid $lightRed;

    .btnImg {
        width: 11px;
    }

    &:hover {
        border-color: $darkRed;
        color: $lightGray;
        background-color: transparent;
    }
}
.arrowDown {
    width: 30px;
}
@media(max-width: 1199px) and (min-width: 991px) {
    .title {
        font-size: 20px;
        line-height: 30px;
    }
    .description {
        font-size: 14px;
    }
}
@media(max-width: 991px) {
    .imgPresentation {
        display: flex;
        margin: 50px auto;
    }
}
@media(max-width: 595px) {
    .imgPresentation {
        width: 95%;
    }
    .title {
        font-size: 26px;
        line-height: 34px;
    }
    .description {
        font-size: 14px;
    }
    .btnCta {
        padding: 10px 24px;
    }
}
@media(max-width: 360px) {
    .subTitle {
        font-size: 14px;
    }
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 12px;
    }
}