@import "../../../../styles/colors.module.scss";

.ctaSection {
    background-color: $lightRed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 30px;
}
.imgCta {
    width: 30px;
}
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.imgLogoNav {
    width: 180px;
}
.navBtn {
    margin: 0px 5px;
    border-color: transparent;
    color: $lightGray;
    &:hover {
        border-color: $lightRed;
        color: white;
        background-color: transparent;
    }
}
@media (max-width: 451px) {
    .nav {
        justify-content: center;
    }
    .navBtn {
        margin: 16px 10px;
        border-color: white;
        font-size: 14px;
    }
    .ctaSection {
        gap: 10px;
    }
}
@media (max-width: 350px) {
    .ctaSection {
        text-align: center;
    }
    .imgCta {
        margin: 0px 8px;
    }
}