@import '../../../styles//colors.module.scss';

.episodeCard {
    border: 1px solid $lightGray;
    margin-bottom: 20px;
    width: 550px;
    height: 190px;
    cursor: pointer;
    padding: 10px 14px;
    overflow: hidden;
    transition: 0.5s;
    &:hover {
        border-color: $lightRed;
        height: 210px;
    }
}
.episodeOrderTime {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.episodeOrder {
    font-weight: bold;
    font-size: 18px;
}
.episodeTime {
    color: $lightGray;
}
.episodeTitleDescription {
    text-align: center;
    margin: 10px 0px;
}
.episodeTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.episodeDescription {

}