@import '../../../styles/colors.module.scss';

.searchCard {
    width: 320px;
    height: 345px;
    border: 1px solid $darkGray;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;

    transition: 0.4s;
    &:hover {
        border-color: $lightRed;
        height: 400px
    }
}
.searchCardImg {
    width: 100%;
    height: 100px;
}
.searchCardTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
.searchCardDescription {
    color: $lightGray;
    padding: 0px 20px;
    font-size: 18px;
}
@media(max-width: 350px) {
    .searchCardTitle {
        font-size: 17px;
    }
    .searchCardDescription {
        font-size: 15px;
    }
}