@import './colors.module.scss';

.courseInfo {
    margin-top: -120px;
}
.courseTitle {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 25px;
    width: 700px;
}
.courseDescription {
    color: $lightGray;
    width: 650px;
    padding-bottom: 25px;
}
.courseBtn {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 35px;
    color: white;
    border-color: $lightRed;
    &:hover {
        border-color: $darkRed;
        color: $lightGray;
        background-color: transparent;
    } 
}
.buttonImg {
    width: 10px;
    margin: 0;
    padding: 0;
}
.interactions {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}
.interactionImage {
    width: 36px;
    cursor: pointer;
}