@import './colors.module.scss';

.header {
    background-color: black;
}
.main {
    display: flex;
    flex-direction: column;
}
.mainContent {
    flex: 1 0 auto;
}
.courseInfo {
    margin-top: -120px;
}
.courseTitle {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 25px;
    width: 700px;
}
.courseDescription {
    color: $lightGray;
    width: 650px;
    padding-bottom: 25px;
}
.courseBtn {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 35px;
    color: white;
    border-color: $lightRed;
    &:hover {
        border-color: $darkRed;
        color: $lightGray;
        background-color: transparent;
    } 
}
.buttonImg {
    width: 10px;
    margin: 0;
    padding: 0;
}
.interactions {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}
.interactionImage {
    width: 36px;
    cursor: pointer;
}
.episodeInfo {
    padding: 60px 0 px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.episodeDivision {
    font-weight: bold;
    border-bottom: 1px solid $lightRed;
    padding: 3px 14px;
    margin-bottom: 10px;
}
.episodeLength {
    margin-bottom: 40px;
    color: $lightGray;
}
@media(max-width: 767px) {
    .courseTitle {
        font-size: 26px;
        width: 99%;
    }
    .courseDescription {
        width: 95%;
    }
}
@media(max-width: 400px) {
    .courseInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .courseTitle {
        font-size: 22px;
    }
    .courseDescription {
        font-size: 15px;
    }
}