.episodeTitle {
    font-size: 36px;
    font-weight: bold;
}
.episodeButton {   
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        border: none;
        background-color: transparent;
    }
    &:disabled {
        border: none;
        padding: 0;
        background-color: transparent;
    }
    &:active {
        outline: none;
        border: none;
        box-shadow: none;
    }
    &:focus {
        outline: none;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
}
.episodeButtonDiv {
    display: flex;
    gap: 20px;
}
.arrowImg {
    width: 25px;
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
}
.player {
    max-width: 100%;
}
@media(max-width: 425px) {
    .episodeTitle {
        font-size: 20px;
        padding: 0px 10px;
        word-wrap: break-word;
    }
    .player {
        margin-top: -60px;
    }
}